 .navbar{
 	background: black;
    border-bottom: 1px solid #222;
    margin-bottom: 0!important;
    height: 65px;
 }  
 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: black !important;
}
.navbar-default{
    border-color: black !important; 
}
.pens{
   color: white !important;
    font-weight: bold;
    font-size: 15px;
}
.title{
   height: 60px;
   padding: 15px 5px 5px 15px;
 }

.color{
	background: #404040;
}

.search{
	color: 	#A9A9A9;
	font-size: 30px;
}


#para{
	color:white;
	font-size: 15px;
}

.buttonNav {
    background-color:#4d4d4d;
    color: white;
    padding: 10px 10px;
    margin: 0 5px 5px 0;
    border-radius: 3px;
    border: 3px solid transparent;
    text-align: center;
    font-size: 10px;
    
}

.buttonNav:hover {
    background-color: #333333;
    color: white;
}

.button5 {
    background-color:#4d4d4d;
    color: white;
    padding: 10px 16px;
    margin: 0 10px 0 0;
    border-radius: 3px;
    border: 3px solid transparent;
    text-align: center;
    font-size: 10px;

}

.button5:hover {
    background-color: #333333;
    color: white;
}

.buttonGreen {
    background-color: rgba(71,207,115,0.66); 
    color: white;
    padding: 10px 16px;
    margin: 0 10px 0 0;
    border-radius: 3px;
    border: 3px solid transparent;
    text-align: center;
    font-size: 10px;
}

.buttonGreen:hover {
    background-color: #333333;
    color: white;
}

.button1 {
    background-color: rgba(118,218,255,0.2); 
    color: white;
    padding: 10px 16px;
    margin: 0 10px 0 0;
    border-radius: 3px;
    border: 3px solid transparent;
    text-align: center;
    font-size: 10px;
    margin: 0 0 1% 0;
}

.button1:hover {
    background-color: rgba(150, 230, 225,0.2);
    color: white;
}
.button2 {
    background-color: rgba(174,99,228,0.2); 
    color: white;
    padding: 10px 16px;
    margin: 0 10px 0 0;
    border-radius: 3px;
    border: 3px solid transparent;
    text-align: center;
    font-size: 10px;
    margin: 0 0 1% 0;
}

.button2:hover {
    background-color: rgba(190,150,228,0.2);
    color: white;
}
.button3 {
    background-color: rgba(255,60,65,0.2); 
    color: white;
    padding: 10px 16px;
    margin: 0 10px 0 0;
    border-radius: 3px;
    border: 3px solid transparent;
    text-align: center;
    font-size: 10px;
    margin: 0 0 1% 0;
}

.button3:hover {
    background-color: rgba(270,100,65,0.2);
    color: white;
}
.button4 {
    background-color: rgba(71,207,115,0.2); 
    color: white;
    padding: 10px 16px;
    margin: 0 10px 0 0;
    border-radius: 3px;
    border: 3px solid transparent;
    text-align: center;
    font-size: 10px;
    margin: 0 0 10% 0;
}

.button4:hover {
    background-color: rgba(100,220,115,0.2);
    color: white;
}

.bgImg{
	background: #000 url(https://production-assets.codepen.io/assets/home/promo-bg-mobile-94c50a6f2d2c41e57353c3839f786eebdc9d52301e00c3ac5d33b09f9e55ef54.png);
    background-size: cover;
    display: block;
    box-sizing: border-box;
    margin: 0 0 1% 0;
    width: 100%;
    height: 100%;
}

.title-header {
    position: relative;
    margin: 40px 0 25px 0;
    border-bottom: 5px solid #0ebeff;  
}

h1{
font-weight: bold;
font-size: 2rem;
color: white;	
}

.more{
	position: absolute;
	right: 0;
    bottom: 10px;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    color: #76daff;
    font-family: "Lato", Tahoma, Sans-Serif;
}

@media (max-width: 550px){
.bonus-text {
    display: none;
}
}

a:hover {
	text-decoration: none;
	color: #76daff;
}

@media (max-width: 550px){
 .buttonNav{
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 4px;
}
}