<!DOCTYPE html>
<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="lessController.js"></script>
      <link rel="stylesheet" href="jsonLess.css">

    </head>
     <body> 
        <div ng-app = "myApp" ng-controller = "serviceController" >
          <table >
            <thead>
              <tr>
                  <th>Alphanumeric</th>
                  <th>Numbers</th>
                  <th>Animals</th>
                  <th>Sites</th>
              </tr>
              <tr>
                <td><input ng-model="Alphanumeric" id="input"/></td>
                <td><input ng-model="Numbers" id="input"/></td>
                <td><input ng-model="Animals" id="input" /></td>
                <td><input ng-model="Sites" id="input" /></td>
              </tr>       
            </thead>
            <tfoot>
                <tr>
                    <th>Alphanumeric</th>
                    <th>Numbers</th>
                    <th>Animals</th>
                    <th>Sites</th>
                </tr>
            </tfoot>
            <tbody>
              <tr ng-repeat = "x in myData =(data.AlphaNumeric | filter:{alpha:Alphanumeric,number:Numbers,animal:Animals,link:Sites})">
                 <td>{{ x.alpha }}</td>
                 <td>{{ x.number }}</td>
                 <td>{{ x.animal }}</td>
                 <td>{{ x.link}}</td>
              </tr>
            </tbody>
          </table>
      </div>
   </body>
</html>
