<div>
  <div class="row">
  	<div class="col-sm-4">
         <div class="text-center">
  	     <img src="images/Hyderabad.jpg" height="200" width="200" alt="location">	       
         </div>
      </div>
      <div class="col-sm-7">
        	<div class="well bg-2 text-center">
        		<h3>Contact Me</h3>
         		<p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Hyderabad</p>
            <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Phn: 9493065244</p>
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email: deepika@gmail.com</p>
        	</div>
      </div>
  </div>
  <hr> 
  <div class="text-center">
    <h2>Leave me a note:</h2>
    <label for="usr">Name:</label>
    <input type="text" placeholder="Name" id="inputbox"><br><br>
    <label for="usr">Email:</label>
    <input type="text" placeholder="Email" id="inputbox"><br>
    <label for="usr">Message:</label><br>
    <textarea rows="4" cols="50"></textarea><br><br>
    <button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send</button>
  </div>
  <footer class="container-fluid text-center footer">
   <h2>Thank You</h2>
  </footer>
</div>