<div>
	<div class="container">
		<div class="jumbotron text-center">
			<h2>Portfolio</h2>
		</div>
	</div>	
	<h3 class="text-center">My Work</h3>
	<p class="text-center"><em>Just Forgot that I had to mention something, but now I forgot it.<br>Ahh, forget it! Or wait. I remember.... no I don't.</em></p>
	<hr>
	<h3 class="text-center">My Photography</h3><br>
	<div class="text-center">
		<img src="images/birds.jpg" class="img-circle" height="200" width="200" alt="Bird">
		<img src="images/t&j.png" class="img-circle" height="200" width="200" alt="T&J">
		<img src="images/minion.png" class="img-circle" height="200" width="200" alt="minion">
		<img src="images/cartoon.jpg" class="img-circle" height="200" width="200" alt="cartoon">
	</div>
</div>