.background {
  background: url(../images/background.png) no-repeat;
  background-size: cover;
}

.headerPage{
	height: 191px;
  	background-color: #DCE3EB;
  	opacity: 0.8;
}

.logo{ 
 	background-size: cover;
 	height: 135px;
 	width: 215px;
 	margin-top:18px;
 	margin-bottom: 40px;
}

.headerText{
	font-size: 30px;
    color: #417505;
    /*font-family: 'Fira Sans', sans-serif; */
    margin-top: 7%;
    /* margin-right: 250px; */
    margin-bottom: 5%;
    text-align: left;
}

.container1{
	margin-top: 89px;
	margin-bottom: 191px;
}

.loginForm{
	height: 55%;

}

.loginHeader{
	background-color: #84B84C;
	height: 85px;
}

.hand{
	margin-top: 13px;
	margin-bottom: 12px;
	width:76px;
	height: 60px;
}

h3{
	margin-left: 10%;
	color:white;
	margin-top: 28px;
	margin-bottom: 32px;
	/*font-family: 'Fira Sans', sans-serif; */
}

.cross{
	margin-top: 30px;
    margin-right: 30px;
    float: right;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 62%;
    height: 25px;
    width: 25px;
    text-align: center;
    color: #84B84C;
    background-color: white;
    font-weight: 900;
    cursor: pointer;
}

.box{
	opacity:0.89;
	background:#ffffff;

	height:368px;
}

.textbox{
	margin-left: 15%;
	font-family:FiraSans-Regular;
    font-size:18px;
}

.inputbox{
	margin-left: 50px;
	width: 53%;
	height: 45px;
	margin-top: 47px;
}

.password{
	margin-top: 17px;
	margin-left: 59px;
	width: 53%;
	height: 45px;
}

.login{
	margin-left: 33%;
	margin-right: 425px;
	margin-top: 35px;
}

button {
    background-color: #77C0EA; 
    font-family:FiraSans-Regular;
    font-size:18px;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    height: 15%;
    width: 107px;
}

.text{
	font-family: FiraSans-Regular;
    font-size: 18px;
    color: #4a4a4a;
    margin-left: 33%;
    margin-top: 3%;
    cursor: pointer;
}


.footer{
	height: 100px;
	background-color: #4A4A4A;
	position: relative;
}

.footerText{
	margin-top: 3%;
    margin-left: 35%;
    margin-right: 30%;
    margin-bottom: 0px;
    font-size: 15px;
    text-align: center;
    color:#9b9b9b;
    font-family:FiraSans-Regular;
}

/*CSS for Another Page Starts here*/


.header{
	height: 330px;
  	background-color: #DCE3EB;
  	opacity: 0.8;
}

.cloudLogo{ 
 	background-size: cover;
 	height: 135px;
 	width: 215px;
 	margin-top: 85px;
 	margin-bottom: 80px;
}

body{
	margin:0 !important;
}

h2{
	color: #417505;
    font-size: 25px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 5%;
    margin-left: 150px;
    margin-right: 90px;
    margin-bottom: 3%;
}

h4{
	font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    margin-left: 150;
    margin-right: 75px;
    margin-bottom: 55px;
}

.row-form{
	margin-top: 140px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 200px;
}

.well1{
	height: 250px;
	width: 220px;
	border-radius: 0px !important;
	border:none !important;
	background-color: #85B94D;

}

.well{
	height: 250px;
	width: 220px;
	border-radius: 0px !important;
	border:none !important;
}

.logo1{
	height: 90px;
 	width: 110px;
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 55px;
}



p{
	margin-top: 40px;
	text-align: center;
	color:white;
	font-family: 'Fira Sans', sans-serif;
	font-size: 20px;
	font-weight: 500;
}

#color{
	color: #4A4A4A;
}
 

