<div class="container">
  <!-- Modal -->
	  <div class="modal fade" id="myModal2" role="dialog">
	    <div class="modal-dialog">  
	      <!-- Modal content-->
		    <div class="modal-content modalDimensions">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Payment Parameters</h4>
		        </div>
		        <div class="modal-body modalBody">
			        <div class = "container">
			          	<form class="form-inline">
							<div class="form-group">
					     		<label>Growth Type</label><br>
					      		<select class="form-control " required="required" ng-model="growthType" ng-options="item for item in growth" style="width: 250px;" >
	       						</select>
					    	</div>
					    	<div class="form-group">
					     		<label>Fixed Growth</label><br>
					      		 <input type="text" ng-model="fixedGrowth" class="form-control" placeholder="0" style="width: 250px;" >
							</div>
			          	</form>
			          	<form class="form-inline">
			          		<div class="form-group">
					     		<label>Number of Schedules</label><br>
					      		 <input type="text" ng-model="schedules" class="form-control" style="width: 250px" placeholder="0">
							</div>
							<div class="form-group">
					     		<label>Adjust Every(x) Months</label><br>
					      		 <input type="text" ng-model="AdjustEveryMonth" class="form-control"  style="width: 250px" placeholder="0">
							</div>
			          	</form>
			          	<form class="form-inline">
            
			                <div class="form-group">
			                  	<label>Charge Amount Basis<span class="label">&#42;</span></label><br>
					      		<select class="form-control " required="required" ng-model="chargeAmount" ng-options="item for item in charge">
	       						</select> 
			                </div>
			               
				           	<div class="form-group" style="margin-left: 14px;">
				                <h5><b>Contract Rentable</b></h5>
				                <input type="text" ng-model = "rentable" class="form-control" style="width: 100px;" placeholder="0"><span> square-feet</span>
				            </div>
			              
			             	<div class="form-group">
			                	<h5><b>Amount Per Basis</b></h5>
			               	 	<input type="text" ng-model="AmountPerBasis" class="form-control" style="height: 35px;width:150px;" placeholder="0">
			              	</div>

			            </form><br><br>
				    </div>
		        </div>
		        <div class="modal-footer" style="height:85px">
		        	<form class="form-inline" style = "float:left">
						<div class="form-group">
				     		<span class="fa fa-info-circle" style = "float:left;text-align:center;"></span><br>Information
				    	</div>
				    	<div class="form-group">
				     		<span class="fa fa-calendar-o" style="float:left; text-align:center;"></span><br>
	        				Parameters
				    	</div>
		          	</form>
		          	<span class="fa fa-toggle-left icon" data-dismiss="modal" data-toggle="modal" data-target="#myModal1"></span>
		          	<button type="button" class="btn btn-default myBtn" ng-click="generateData()" data-dismiss="modal">Generate</button>
		          	
		        </div>
		    </div> 
	    </div>
	</div>  
</div>
