<div class = "container">
	<div class = "table-responsive">
		<table class = "table table-condensed">
			 <thead style="background-color: #EAEAEA;">
		        <tr>
		          <th></th>
		          <th>Frequency<br>Type</th>
		          <th>Start<br>Date</th>
		          <th>End Date</th>
		          <th>Total Cash<br>With Tax</th>
		          <th>Actions</th>
		        </tr>
		    </thead>
			<tbody>
		        <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
		            <td class="cursor">Design Fees</td>
		        </tr>
		            <tr style="border-top: none;">
		                <td colspan="6" class="hiddenRow">
		                    <div id="demo1" class="accordian-body collapse">
		                        <table class="table">
		                      
		                          <tbody>
		                            <tr>
		                              <td>Site-1</td>
		                              <td>123</td>
		                              <td>-</td>
		                              <td>-</td>
		                              <td>-</td>
		                              <td>-</td>
		                              <td>OK</td>
		                            </tr>
		                            <tr>
		                              <td>Site-2</td>
		                              <td>321</td>
		                              <td>-</td>
		                              <td>-</td>
		                              <td>-</td>
		                              <td>-</td>
		                              <td>OK</td>
		                            </tr>
		                          </tbody>
		                        </table>
		                    </div>
		                </td>
		            </tr>

		        <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
		               <td class="cursor">Administration Fees</td>
		            </tr>
		            <tr>
		                <td colspan="6" class="hiddenRow"><div id="demo2" class="accordian-body collapse">Demo2</div></td>
		            </tr>

		        <tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
		               <td class="cursor">Amortization</td>
		            </tr>
		            <tr>
		                <td class="hiddenRow">
		                  <div id="demo3" class="accordian-body collapse">Demo3</div>
		                </td>
		                
		              <td class="hiddenRow">
		                  <div id="demo3" class="accordian-body collapse">Demo1</div>
		              </td>
		              <td class="hiddenRow">
		                  <div class="accordian-body collapse" id="demo3">Demo1</div>
		              </td>
		                <td class="hiddenRow">
		                    <div class="accordian-body collapse" id="demo3">Demo1</div>
		                </td>
		                <td class="hiddenRow">
		                    <div class="accordian-body collapse" id="demo3">Demo1</div>
		                </td>     
		            </tr>
		      </tbody>
			<tfoot>
				<tr>
					<td colspan="6">
						<button type="button"  ui-sref="page1.modal1" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal1">+Add</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
<div ui-view></div>