.hiddenRow {
    padding: 0 !important;
}

.icon{
	font-size: 30px;
	margin-top: 3%;
}

.label{
	color:red;
}

.cursor{
	cursor: pointer;
}
.footer{
	background-color:#c8e6c9;
	border: none;
	border-radius: none;
	height: 40px;
}
.footer:hover{
	background-color:#c8e6c9;
}

.modalDimensions{
	width:600px;
	height:600px;
}

.myBtn{
	margin-bottom: 20px !important;
}

.info{
	float:left; 
	text-align:center;
}

.modalBody{
	height: 450px;
}